.check_gif{
    position: fixed;
    z-index: 3000;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optional: Add styles to size the element */
    display: none;

}

.check_gif > div > img{
    width: 100%;
}
.Items_img{
    width: 10em;
}
.Items_img > img{
    width: 80%;
}


.Empty_Cart{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 15%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    display: none;
    font-size: 2.5vh;
}

.img_cart{
   width: 10em;
   margin: 0 auto;
}
.img_cart > img{
    width: 100%;
}
.Empty_Cart > a:hover > p{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.Empty_Cart > a > p{
    width: 10%;
    margin: 0 auto;
    background-color: #c92127;
    color: white;
    border-radius: 1em;
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
}


/*--------not EMPTY CART*----------*/
.Not_empty_cart{
    margin: 0 auto;
    width: 90%;
    display: flex;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 2.5vh;
}
.Buy_list{
    width: 70%;
    margin-right: 3%;
}
.Buy_list_nav{
    display:  flex;
}

.Buy_list_nav > p{
    margin-left: 10%;
}

.List{
    background-color: white;
    padding: 5px;
    border-radius: 0.8em;
}
.Items{
    padding-top: 2%;
    align-items: center;
    display: flex;
    text-align: left;
}
.Items > div{
    width: 16%;
    margin-left: 1%;
}
.Items > p{
    margin-left: 10%;
}

.Items > p:nth-child(5){
    margin-left: 13%;
    color: #c92127;
    font-weight: bold;
    margin-right: 5%;
}

.Items > a{
    color: red;
    margin-left: 7%;
}


.Pay_Menu{
    width: 30%;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    height: 30%;
}

.content > p{
    padding-bottom: 15%;
    font-weight: bold;
    font-size: 0.8em;
}

.Buy_list_nav{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.Pay_Menu > p{
    font-weight: bold;
}

.Pay_Menu > a > p{
    text-align: center;
    margin: 0 auto;
    background-color: #c92127;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10%;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}